.img-controller {
  width: 300px;
  @media (min-width: 700px) {
    width: 400px;
  }
}

#dog {
  max-width: 300px;
  max-height: 400px;
  margin-bottom: 1em;
  box-shadow: 0 4px 6px 0 rgba(148, 148, 148, 0.5);

  @media (min-width: 700px) {
    max-width: 400px;
    margin-bottom: 2em;
  }
}
.highscore {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.highscoreTable {
  padding: 1em;
  background-color: rgba(245, 219, 202, 0.507);
  box-shadow: 0 4px 6px 0 rgba(148, 148, 148, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
