.logga {
  max-width: 600px;
  padding: 0.5em;

  @media (min-width: 700px) {
    padding: 2em;
  }
}

.header {
  display: flex;
  justify-content: center;
  //background-color: rgba(245, 218, 167, 0.178);
}
